<div class="header row">
    <div  style="padding-left:40px;"class="col-1 zoom-on-hover" routerLink= "/dashboard"  routerLinkActive = "active-link">
        Dashboard
    </div>
    <div  class="col-1 zoom-on-hover"  routerLink= "/tasks" routerLinkActive = "active-link">
        Task
    </div>
    <div  class="col-1 zoom-on-hover" routerLink= "/notifications" routerLinkActive = "active-link">
        Notifications
    </div>
    <div  class="col-1 zoom-on-hover" routerLink= "/projects" routerLinkActive = "active-link">
        Projects
    </div>
    <div class="search-bar col-4 zoom-on-hover">
        <input type = "text" placeholder="Search here">
    </div>
</div>