.dashboard{
    background-color: #E0ffff;
    border-radius:10px;
}
.container{
    flex-direction: column;
    height:100%
}

.main-content{
    flex: 1;
    padding:20px;
    overflow-y:auto;
}
:host{
    height:100vh
}
.mat-table-container{
    height:70vh;
    overflow-y: auto;
}

.mat-cell{
    text-align: center;
}

::ng-deep .mat-mdc-table{
    background-color: #E0ffff;
}

